modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Hospital App"

[[workflows.workflow]]
name = "Run Hospital App"
author = 44594929
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Production Server"
author = 44594929
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Hospital App"
author = 44594929
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5001 concurrently \"npm run server\" \"BROWSER=none npm start\""

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002
